*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: black;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 480px;
}
.title h2{
    text-align: center;
    margin: 20px 0 10px;
}
.title p{
    margin: 20px 0 0;
    
}
.title form p{
    color: crimson;
}
.title input{
    padding: 10px;
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(155, 155, 155);
}
.title input:hover{
    border-color: darkgreen;
}
.title button{
    font-size: 15px;
    margin: 20px 0;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}
.title button:hover{
    background-color: darkgreen;
}
